<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<header>
    <h1>Welcome to Soccer Showdown!</h1>
</header>
<body>

    <a href="/register">Register an account</a>
    //
    <a href="/login">Login</a>
    //
    <a href="/">Return to Homepage</a>
    //
    <a href="/logout">Logout</a>
    
    <hr>

    {% for flash in get_flashed_messages() %}
        {{flash}}
    {% endfor %}

    {% block content %}
    Put your body here.
    {% endblock %}
</body>
</html>