{% extends 'base.html' %} 
{% block content %} 

    <h1>Welcome to Soccer Database!</h1>
        <p> Here you can look up stats on your favorite players from these leagues, stats on these teams, as well as compare players and teams against one another.
            To access this website please create an account!
            Already have an account? Welcome back!
        </p>
    <h2>Create an account</h2>
        Don't have an account?
        <a href="/registration_page">Register here</a>
        <br>
        Already have an account?
        <a href="/login">Login Here!</a>
        

{% endblock %}