{% extends 'base.html'%} 
{% block content %} 

<h1>Register</h1>

<form action="/register_process" method="POST">

    <div>
        <label>
            Email
            <input type="email" name="email">
        </label>
    </div>

    <div>
        <label>
            Password
            <input type="password" name="password">
        </label>
    </div>

    <div>
        <label>
            Username
            <input type="username" name="username">
        </label>
    </div>
    <label>
        Create account
    </label>
    <input type="submit">
</form>

{% endblock %}